/* layouyt discord */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Cabin', sans-serif;
}

/* parte iniziale con header e contenitori dentro flex */

header{
    max-width: 120rem;
    min-height: 37.5rem;
    background-color: #add8e6;
    padding-top: 1rem;
}

/* nav con elementi all'interno */

nav{
    max-width: 78.25rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    font-size: 1.25rem;
}

.flexCol{
    background-color: #daa520;
}

#navleft{
    padding: 1rem;
    width: 20%;
}

#navcenter{
    padding: 1rem;
    text-align: center;
    width: 60%;
    display: flex;
    justify-content: center;
}

#navright{
    padding: 1rem;
    text-align: right;
    width: 20%;
}

div > a{
    text-decoration: none;
}

/* contenitore blu dopo nav */

#hero{
    height: 32.5rem;
    background-color: #00008b;
    margin-top: 1rem;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#heroContent{
    width: 50%;
    height: 100%;
    background-color: #ee82ee;
}

/* main con 3 sezioni + 1 grande */

.boxed{ 
    max-width: 78.25rem;
    margin: 0 auto;
    display: flex;
}

.row > div.boxed{
    height: 31.25rem;
    padding: 3.125rem 0 3.125rem 0;
}
.whiteBoxed{
    background-color: #ffffff;
}

.greyBoxed{
    background-color: #d3d3d3;
}

.blueRow{
    width: 60%;
    height: 100%;
    background-color:#1e90ff;
}

.pinkRow{
    width: 40%;
    height: 100%;
    background-color: #ffc0cb;
}

/* sezione grigia con cont verde dentro grande */

#greyBoxed{
    max-width: 1920px;
    height: 1045px;
    background-color: #d3d3d3;
}

#greenBoxed{
    max-width: 1252px;
    min-height: 928px;
    background-color: #228b22;

}

#footerboxed{
    max-width: 1920px;
    height: 772px;
    background-color: #23272a;
}

hr{
    border: 2px solid white;
}

#bottomNav{
    max-width: 1252px;
    background-color: #7fffd4;

}